body{
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: rgb(223, 222, 222);

}

.generator{
    position: relative;
    width: 50%;
    height: 66%;
    background-color: white;
    margin-left: 25%;
    margin-top: 30px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px;

}

h1{
    position: relative;
    text-align: center;
}

h3{
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: lightgray;
    color: gray;
}


